.sidebar-section img {
  width: 300%;
  height: 60%;
  padding-right: 180px;
  margin-right: 500px;
  margin-bottom: 2em;
  /* margin-top: 2em; */
}

.about-section {
  margin-bottom: 2em;
  margin-top: 2em;
  padding-right: 250px;
}

.blueflame {
  /* margin-bottom: 5em; */
  margin-top: 5em;
}
